# -----------------------
# Python
# -----------------------
__pycache__/
*.py[cod]
*.pyo

# -----------------------
# Virtual Environment
# -----------------------
.venv/
venv/
env/

# -----------------------
# Environment Variables
# -----------------------
.env

# -----------------------
# VS Code
# -----------------------
.vscode/

# -----------------------
# Python Cache
# -----------------------
.pytest_cache/
.mypy_cache/

# -----------------------
# Vector Database
# -----------------------
vector_db/

# -----------------------
# Streamlit Cache
# -----------------------
.streamlit/

# -----------------------
# Logs
# -----------------------
*.log

# -----------------------
# Reports
# -----------------------
reports/

# -----------------------
# OS Files
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# Jupyter
# -----------------------
.ipynb_checkpoints/