langchain
langgraph

langchain-core
langchain-community

langchain-chroma
chromadb

langchain-huggingface
sentence-transformers

langchain-groq

python-dotenv

streamlit

pypdf

tiktoken

numpy

pandas
reportlab